body{
	background: url('images/LP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	font-family: roboto;	
}
 
h1{
	width: 550px;
}
 
.kotak{
	background: blue;
	width: 200px;
	height: 200px;
	animation-name: animasi_kotak;
	animation-duration: 2s;
}
 
@keyframes animasi_kotak{
	from{ background: blue;}
	to{background: red;}
}